<div class="bg-dark text-light" style="margin-top: 100px;">
  <br />
  <br />
  <footer>
    <div class="row">
      <div class="col-sm-3 footerleft">
        <div class="logofooter">
          <a th:href="@{/}"><img class="img-fluid" src="../../../assets/image/logo.png" style="width: 200px;" /></a>
        </div>
        <p>
          Hung's Independent Book Store. <br />Serving our customers with the
          best.
        </p>
      </div>
      <div class="col-sm-3 paddingtop-bottom">
        <h6 class="heading7">CONTACT</h6>
        <ul class="post">
          <p>
            <i class="fa fa-map-pin"></i> Nguyen Trai<br /> Ha Dong, Ha Noi
          </p>
          <p>
            <i class="fa fa-phone"></i> Phone (VN) : +0344 558 559
          </p>
          <p>
            <i class="fa fa-envelope"></i> E-mail : info@hungbookstore.com
          </p>
        </ul>
      </div>
      <div class="col-sm-3 paddingtop-bottom">
        <h6 class="heading7">LINKS</h6>
        <ul class="footer-ul">
          <li><a class="text-light" href="#"> Privacy Policy</a></li>
          <li><a class="text-light" href="#"> Terms &#38; Conditions</a></li>
          <li><a class="text-light" href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-sm-3 paddingtop-bottom">
        <h6 class="heading7">STORE HOURS</h6>
        <div class="post">
          <ul>
            <li>Monday - Saturday: 9am - 11pm</li>
            <li>Sunday: 10am - 10pm</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright row">
    <div class="col-sm-6">
      <p>© 2020 - All Rights Reserved</p>
    </div>
  </div>
</div>